html, body
{
    background-color: #280000;
}

header {
    background-color: #280000;
    /*  */
    padding: 40px;
    /* tamanho/preenchimento do cabeçalho*/
    display: flex;
    /*Responsável por tornar os itens Flex e deixar lado a lado*/
    justify-content: center;
    /*Organização dos conteúdos dentro do Cabeçalho*/
    gap: 20px;
    /*Espaçamento entre os elementos (h1 e img)*/
    align-items: center;
    /*Alinhamento dos itens*/
}

header h1 {
    color: white;
    /*SEMPRE COR DA LETRA*/
    font-size: 50px;
    /*SEMPRE PARA TAMANHO DE LETRAS*/
    font-family: 'Times New Roman', Times, serif;
    /* Fonte do texto */
}

header i {
    color: white;
    /*Cor do texto*/
    font-size: 200px;
    /*Tamanho do texto*/
}

.image {
    background-color: #47100b;
    padding: 100px;
    /*preenchimento da sessão*/
    display: flex;
    /*deixando flex / lado a lado*/
    justify-content: center;
    /*Justificando o conteúdo ao centro */
    align-items: center;
    /*Alinhando os itens ao centro*/
    gap: 30px;
    /*Espaço/respiro entre os itens*/
}

.image img {
    width: 500px;
    /* Largura da logo */
    text-align: center;
    height: 500px;
    border-radius: 50px;
}

.image p {
    color: white;
    font-size: 30px;
    /* Alterar o tamanho da letra */
    font-family: 'Times New Roman', Times, serif;
    /* Fonte do texto */
}

.icon {
    background-color: #672016;
    padding: 100px;
    /*preenchimento da sessão*/
    display: flex;
    /*deixando flex / lado a lado*/
    justify-content: center;
    /*Justificando o conteúdo ao centro */
    align-items: center;
    /*Alinhando os itens ao centro*/
    gap: 30px;
    /*Espaço/respiro entre os itens*/
}

.icon i {
    color: white;
    font-size: 70px;
}

.cardapio {
    background-color: #863022;
    padding: 150px;
    /*preenchimento da sessão*/
    display: flex;
    /*deixando flex / lado a lado*/
    justify-content: center;
    /*Justificando o conteúdo ao centro */
    align-items: center;
    /*Alinhando os itens ao centro*/
    gap: 30px;
    /*Espaço/respiro entre os itens*/
}

.cardapio button {
    width: 200px;
    /*largura do botão*/
    padding: 20px;
    /*Preenchimento do botão*/
    color: white;
    background-color: red;
    border-radius: 20px;
    /*Arredondamento do botão*/
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    /* Fonte do texto */
}

.cardapio p {
    color: white;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    /* Fonte do texto */
}

footer {
    background-color: #a5402d;
    padding: 30px;
    /*preenchimento da sessão*/
    color: white;
    font-size: 30px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    /* Fonte do texto */
}

footer a  {
    font-size: 40px;
    color: white;
    text-decoration: none;
}